body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.navbar {
    background-color: #333;
    overflow: hidden;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.judul{
    padding: 14px 20px;
    background-color: #ffd400;
    color: #333;
    font-size: 20;
    font-weight: 900;

}
.navbar-links {
    display: flex;
    margin-left: auto;
}
.navbar-links a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.navbar-links a:hover {
    background-color: #ffd400;
    color: black;
    border-radius: 20px;
    padding: 5px 15px;
    margin: 9px 5px;
}
.navbar-links a.active {
    background-color: #ffd400;
    color: #333;
    border-radius: 20px;
    padding: 5px 15px;
    margin: 9px 5px;
}

.icon a{
    color: #ffffff;
    padding: 5px 15px;
    margin: 9px 5px;
}
@media screen and (max-width: 600px) {
    .navbar {
        flex-direction: column;
    }
    .nav-links {
        flex-direction: column;
        width: 100%;
    }
    .search-icons {
        width: 100%;
        justify-content: center;
        margin-left: 0;
    }
}