.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px #0c0c0c;
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.logo a {
    display: block;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    padding-left: 15px;
    padding-top: 15px;
    margin-bottom: 15px;
}

.navbar {
    background-color: #333;
    overflow: hidden;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.navbar-links {
    display: flex;
    margin-left: auto;
}

.navbar-links a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar-links a:hover {
    background-color: #ffd400;
    color: black;
    border-radius: 20px;
    padding: 5px 15px;
    margin: 9px 5px;
}

.navbar-links a.active {
    background-color: #ffd400;
    color: #333;
    border-radius: 20px;
    padding: 5px 15px;
    margin: 9px 5px;
}

.icon a {
    color: #ffffff;
    padding: 5px 15px;
    margin: 9px 5px;
}


.headline {
    background: url(../image/airforce.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.headline p {
    margin: 0;
    padding: 15px;
    background: #bb1919;
    color: #f1f1f1;
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
}

.headline h1 {
    font-size: 1rem;
    text-transform: capitalize;
    color: #f1f1f1;
    padding-left: 15px;
}

.top-stories h2,
.world h2,
.popular h2,
.business h2,
.sport h2,
.entertainment h2,
.more h2 {
    padding: 10px;
    margin: 10px;
    background-color: #ffd400;
    text-transform: uppercase;
    font-size: 0.8rem;
}

.top-stories .headline {
    display: flex;
    margin: 10px;
    justify-content: flex-end;
}

.top-stories .headline-1 {
    background: url(../image/police.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.top-stories .headline-2 {
    background: url(../image/city.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.top-stories .headline-3 {
    background: url(../image/idea.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.story a {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
    margin: 10px;
}

.story-img {
    min-width: 120px;
    height: auto;
}

.story h3 {
    margin: 0;
    color: #0c0c0c;
    font-size: 1rem;
    text-transform: capitalize;
}

.story p.exact-time {
    margin-top: 5px;
    color: #0c0c0c;
    font-size: 0.7rem;
    font-weight: normal;
}

.more-headline {
    margin: 10px;
    font-size: 0.9rem;
}

.more-headline h3 {
    color: #0c0c0c;
    margin-bottom: 0px;
    text-transform: capitalize;
}

.more-headline p.exact-time {
    margin-top: 0;
    color: #0c0c0c;
}


.footer-links {
    padding: 20px;
    background: #222222;
}

.footer-links a {
    display: flex;
    justify-content: center;
    padding: 10px;
    color: #f1f1f1;
}

.main-footer-links {
    padding-top: 20px;
}


.hidden {
    display: none;
}


.clearfix:before,
.clearfix:after {
    content: ' ';
    display: table;
}

.clearfix:after {
    clear: both;
}


@media only screen and (min-width: 37em) {
    .latest-news h1:first-child {
        font-size: 1.5rem;
    }

    .top-stories {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .top-stories h2 {
        grid-column: 1/4;
        grid-row: 1/2;
    }

    .headline {
        min-height: 400px;
    }

    .headline-1,
    .headline-2,
    .headline-3 {
        min-height: 200px;
    }

    .world {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .world h2 {
        grid-column: 1/4;
        grid-row: 1/2;
    }

    .world .story-1 {
        grid-column: 1/4;
    }

    .popular,
    .business,
    .sport,
    .entertainment,
    .more {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .popular h2,
    .business h2,
    .sport h2,
    .entertainment h2,
    .more h2 {
        grid-column: 1/3;
        grid-row: 1/2;
    }
}

@media only screen and (min-width: 56em) {

    .content-wrap {
        max-width: 1280px;
        margin: 0 auto;
        padding: 30px 30px 0px 30px;
    }


    .nav-section {
        display: flex;
        background: hsl(0, 0%, 15%);
        justify-content: space-between;
        align-items: center;
        margin-left: 10px;
        margin-right: 10px;
    }


    .logo a {
        font-size: 1.7em;
        padding-left: 20px;
        padding-top: 7px;
        margin-bottom: 4px;
    }


    .top-news {
        display: grid;
        grid-template-columns: 3fr 1fr;
    }

    .top-news .latest-news {
        grid-column: 1/2;
        grid-row: 1/2;
        margin: 10px;
    }

    .latest-news h1:first-child {
        font-size: 2rem;
    }

    .headline-1,
    .headline-2,
    .headline-3 {
        min-height: 10%;
    }

    .top-stories .headline-1 {
        grid-column: 1/4;
        grid-row: 2/3;
    }

    .top-stories .headline-2 {
        grid-column: 1/4;
        grid-row: 3/4;
    }

    .top-stories .headline-3 {
        grid-column: 1/4;
        grid-row: 4/5;
    }

    .world {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }

    .world h2 {
        grid-column: 1 / span 5;
    }

    .world .story-1 {
        grid-column: 1/4;
    }

    .world .story-2 {
        grid-column: 1/4;
        grid-row: 3/4;
    }

    .world .story-3 {
        grid-column: 4/6;
        grid-row: 2/4;
    }

    .world .story-3 a {
        display: flex;
        flex-direction: column;
    }

    .popular {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .popular h2 {
        grid-column: 1 / span 5;
    }

    .popular .story a {
        display: flex;
        flex-direction: column;
    }

    .sport {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .sport h2 {
        grid-column: 1 / span 5;
    }

    .sport .story a {
        display: flex;
        flex-direction: column;
    }

    .more a {
        border-bottom: 1px solid #0c0c0c;
        width: 75%;
        margin-left: 10px;
        color: #0c0c0c;
    }

    .more a:nth-child(8),
    .more a:nth-child(9) {
        border: none;
    }

    footer,
    .footer-links {
        margin-left: 10px;
        margin-right: 10px;
    }

    .footer-links {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .info-links {
        padding-top: 0;
        grid-column: 1/2;
        grid-row: 1/3;
    }

    .main-footer-links {
        padding-top: 0;
        grid-column: 2/3;
        grid-row: 1/3;
    }

}